<!-- 

  UI defined for the movies page using HTML 

  ion list item:
      - brackets and async 'pipe' indicate that the element 
        should wait for the 'observable' type object, then async 
        will trigger to updated the UI
  routerLink:
      - set the link path for the object displayed to the user 
  ionChange:
      - event triggered when the element is changed (text is entered)
      - here the searchChanged function is triggered on the event 
  ngModel:
      - 2-way Data binding 
      - bind the value of this element to the script variable 'searchterm'
      - 'searchTerm' is a variable used as part of the searchChanged function, hence the need for the binding
  
 -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Movie Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>

    <ion-item>
      <ion-label>Select Searchtype</ion-label>
      <ion-select [{ngModel}]="type" (ionChange)="searchChanged($event)">
        <ion-select-option value="">All</ion-select-option>
        <ion-select-option value="movie">Movie</ion-select-option>
        <ion-select-option value="series">Series</ion-select-option>
        <ion-select-option value="episode">Episode</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list>
      <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'movies', 'item.imdbID']">
        {{ item.Title }}
      </ion-item>
    </ion-list>
  </ion-content>


</ion-content>
